@page "/editcartypes/{id:int}"
@inject HttpClient httpClient
@inject IJSRuntime js
@inject NavigationManager navigationManager
@* @inject IJSRuntime js *@
@inject ISnackbar Snackbar

<style>
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255); /* Màu trắng với độ mờ 50% */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Đảm bảo overlay hiển thị trên các thành phần khác */
    }

</style>

@if (isLoading)
{
    <div class="loading-overlay">
        <MudItem xs="12" Class="text-center">
            <MudImage Src="/Image/404.jpg" Alt="NOT FOUND" Elevation="0" Fluid="true" />
        </MudItem>
    </div>
}
else if (isLoadingProgress)
{
    <div class="loading-overlay">
        <MudItem xs="12" Class="text-center">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        </MudItem>
    </div>
}
else
{
    <MudContainer Class="mt-14 pa-0" MaxWidth="MaxWidth.False">
        <MudGrid>
            <MudItem xs="12">
                <MudPaper Elevation="0" Class="pa-3 mb-3" Style="@($"color:{Colors.Grey.Darken4}; background:{Colors.Grey.Lighten4};")">
                    <MudBreadcrumbs Class="pa-0" Items="_items"></MudBreadcrumbs>
                </MudPaper>
            </MudItem>
            <MudItem xs="6" Class="mx-auto">
                <MudPaper Elevation="0" Class="pa-3">
                    <MudItem xs="12">
                        <MudPaper Elevation="4" Class="p-4">
                            <MudText Typo="Typo.h6" Class="mb-5">Sửa Loại Xe</MudText>
                            <MudForm @ref="form" @bind-IsValid="isFormValid" Style="height:auto">

                                <MudTextField ShrinkLabel @bind-Value="CarTypes.name" Label="Tên Loại Xe"
                                              Validation="@(new Func<string, IEnumerable<string>>(CarTypesValidate))"
                                              Placeholder="Địa Chỉ" Variant="Variant.Outlined" Required="true" />


                                <MudButton Class="mt-3" StartIcon="@Icons.Material.Outlined.Save" Disabled="@isLoading" Color="Color.Primary" Variant="Variant.Filled" OnClick="SubmitForm">Lưu</MudButton>
                                <MudButton Class="mt-3 pl-3" StartIcon="@Icons.Material.Outlined.ArrowForward" Variant="Variant.Outlined" OnClick="Cancel">Trở về</MudButton>
                            </MudForm>
                        </MudPaper>
                        <MudItem xs="12" Class="d-flex justify-center mt-4">
                            @if (isLoading)
                            {
                                <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
                            }
                        </MudItem>
                    </MudItem>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
}

@code {
    [Parameter] public int Id { get; set; }
    private car_types CarTypes = new car_types();
    private bool isFormValid = false;
    private bool isLoading = false;
    private bool isLoadingProgress = true;
    private bool showSuccess = false;
    private bool showError = false;
    private bool showWarning = false;
    private MudForm form;
    private string url = "http://localhost:49922/api/CarTypes";
    private string alertAnimationClass = "animate__bounceInRight";
    private string userRole;
    private bool isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            isInitialized = true;

            var token = await js.InvokeAsync<string>("localStorage.getItem", "authToken");

            if (!string.IsNullOrEmpty(token))
            {
                try
                {
                    var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();

                    if (handler.CanReadToken(token))
                    {
                        var jwtToken = handler.ReadJwtToken(token);

                        var roleClaim = jwtToken.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role");

                        if (roleClaim != null)
                        {
                            userRole = roleClaim.Value;
                        }
                        else
                        {
                            Console.WriteLine("Role claim not found in the token.");
                        }
                    }
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Lỗi khi giải mã token: {ex.Message}");
                }
            }
            CheckRole();
            StateHasChanged();
        }
    }

    private void CheckRole()
    {
        if (userRole == "1")
        {
            Console.WriteLine("User is an Admin.");
        }
        else if (userRole == "2")
        {
            Console.WriteLine("User is a regular User.");
        }
        else if (userRole == "3")
        {
            Console.WriteLine("User is a regular Driver.");
        }
        else
        {
            isLoading = true;
        }
    }

    // Thêm thông tin BreadcrumbItem
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Loại Xe", href: "/getcartypes", icon: @Icons.Material.Outlined.DirectionsCar),
        new BreadcrumbItem("Danh Sách Loại Xe", href: "/getcartypes", icon: @Icons.Material.Outlined.List),
        new BreadcrumbItem("Chỉnh Sửa Loại Xe", href: "", icon: @Icons.Material.Filled.Edit),
    };

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetFromJsonAsync<car_types>(url + "/" + Id);
        CarTypes = response;
        isLoadingProgress = false;
        StateHasChanged();
    }

    private IEnumerable<string> CarTypesValidate(string name)
    {
        if (string.IsNullOrWhiteSpace(name))
        {
            if (string.IsNullOrWhiteSpace(name))
            {
                yield return " Tên loại xe không được để trống";
            }
            else if (name.Length < 2)
            {
                yield return "Tên loại xe không hợp lệ";
            }
            else if (name.Any(ch => !char.IsLetter(ch) && !char.IsWhiteSpace(ch)))
            {
                yield return "Tên loại xe không được chứa ký tự đặc biệt.";
            }
        }
    }

    private async Task EditCarTypes()
    {
        try
        {
            await Task.Delay(2000);
            if (form.IsValid)
            {
                var response = await httpClient.PutAsJsonAsync(url + "/" + Id, CarTypes);
                if (response.IsSuccessStatusCode)
                {
                    Snackbar.Add($"Chỉnh sửa {Id} thành công", Severity.Success);
                }
                else
                {
                    Snackbar.Add($"Chỉnh sửa {Id} thất bại {response.ReasonPhrase}", Severity.Warning);
                }
            }
        }
        catch (Exception ex)
        {

            Snackbar.Add($"Thêm thất bại", Severity.Warning, options =>
              {
                  options.SnackbarVariant = Variant.Filled;
              });
        }
        finally
        {
        }
    }

    private async Task SubmitForm()
    {
        await form.Validate();
        if (form.IsValid)
        {
            await EditCarTypes();
        }
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("/getcartypes");
    }
}
