@page "/addcarbrands"
@inject HttpClient httpClient
@inject IJSRuntime js
@inject ISnackbar Snackbar

<style>
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255); /* Màu trắng với độ mờ 50% */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Đảm bảo overlay hiển thị trên các thành phần khác */
    }

</style>

@if (isLoading)
{
    <div class="loading-overlay">
        <MudItem xs="12" Class="text-center">
            <MudImage Src="/Image/404.jpg" Alt="NOT FOUND" Elevation="0" Fluid="true" />
        </MudItem>
    </div>
}
else if (isLoadingProgress)
{
    <div class="loading-overlay">
        <MudItem xs="12" Class="text-center">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        </MudItem>
    </div>
}
else
{
    <MudContainer Class="mt-14 pa-0" MaxWidth="MaxWidth.False">
        @if (showSuccess)
        {
            <MudAlert Severity="Severity.Success" Variant="Variant.Filled" Style="position:fixed; top:60px; right:20px; z-index:9999;">
                Thêm thành công
            </MudAlert>
        }
        else if (showError)
        {
            <MudAlert Severity="Severity.Warning" Variant="Variant.Filled" Style="position:fixed; top:60px; right:20px; z-index:9999;">
                Thêm thất bại
            </MudAlert>
        }


        <MudGrid>
            <MudItem xs="12">
                <MudPaper Elevation="0" Class="pa-3 mb-3" Style="@($"color:{Colors.Grey.Darken4}; background:{Colors.Grey.Lighten4};")">
                    <MudBreadcrumbs Class="pa-0" Items="_items"></MudBreadcrumbs>
                </MudPaper>
            </MudItem>
            <MudItem xs="6" Class="mx-auto">
                <MudPaper Elevation="0" Class="pa-3">
                    <MudItem xs="12">
                        <MudPaper Elevation="4" Class="p-4">
                            <MudText Typo="Typo.h6" Class="mb-5">Thêm Hãng Xe</MudText>
                            <MudForm @ref="form" @bind-IsValid="isFormValid" Style="height:auto">

                                <MudTextField ShrinkLabel @bind-Value="CarBrands.name" Label="Tên Hãng Xe"
                                              Validation="@(new Func<string, IEnumerable<string>>(CarBrandsValidate))"
                                              Placeholder="Tên Hãng Xe" Variant="Variant.Outlined" Required="true" />

                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Save" Color="Color.Primary" OnClick="AddCarBrands" Class="mt-3">Lưu</MudButton>

                            </MudForm>
                        </MudPaper>
                    </MudItem>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
}



@code {
    private car_brands CarBrands = new car_brands();
    private bool isFormValid = false;
    private bool showSuccess = false;
    private bool showError = false;
    private bool isLoading = false;
    private bool isLoadingProgress = true;
    private MudForm form;
    private string url = "http://localhost:49922/api/CarBrands";
    private string userRole;
    private bool isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            isInitialized = true;

            var token = await js.InvokeAsync<string>("localStorage.getItem", "authToken");

            if (!string.IsNullOrEmpty(token))
            {
                try
                {
                    var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();

                    if (handler.CanReadToken(token))
                    {
                        var jwtToken = handler.ReadJwtToken(token);

                        var roleClaim = jwtToken.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role");

                        if (roleClaim != null)
                        {
                            userRole = roleClaim.Value;
                        }
                        else
                        {
                            Console.WriteLine("Role claim not found in the token.");
                        }
                    }
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Lỗi khi giải mã token: {ex.Message}");
                }
            }
            CheckRole();
            isLoadingProgress = false;
            StateHasChanged();
        }
    }

    private void CheckRole()
    {
        if (userRole == "1")
        {
            Console.WriteLine("User is an Admin.");
        }
        else if (userRole == "2")
        {
            Console.WriteLine("User is a regular User.");
        }
        else if (userRole == "3")
        {
            Console.WriteLine("User is a regular Driver.");
        }
        else
        {
            isLoading = true;
        }
    }

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Hãng xe", href: "/getcarbrand", icon: @Icons.Material.Outlined.DirectionsCar),
        new BreadcrumbItem("Danh sách hãng xe", href: "/getcarbrand", icon: @Icons.Material.Outlined.List),
        new BreadcrumbItem("Thêm mới", href: "/addcarbrands", icon: @Icons.Material.Filled.AddCircleOutline),
    };

    private IEnumerable<string> CarBrandsValidate(string name)
    {
        if (string.IsNullOrWhiteSpace(name))
        {
            yield return " Tên hãng xe không được để trống";
        }
        else if (name.Length < 2)
        {
            yield return "Tên hãng xe không hợp lệ";
        }
        else if (name.Any(ch => !char.IsLetter(ch) && !char.IsWhiteSpace(ch)))
        {
            yield return "Tên hãng xe không được chứa ký tự đặc biệt và số.";
        }
    }

    private async Task AddCarBrands()
    {
        try
        {
            await Task.Delay(2000);
            if (form.IsValid)
            {
                var response = await httpClient.PostAsJsonAsync(url, CarBrands);
                if (response.IsSuccessStatusCode)
                {
                    CarBrands.name = null;

                    Snackbar.Add($"Thêm thành công", Severity.Success);
                }
                else
                {
                    Snackbar.Add($"Thêm thất bại", Severity.Warning);
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Thêm thất bại", Severity.Warning);
        }
        finally
        {}
    }
}
