@inject IJSRuntime js
@inject NavigationManager NavigationManager
@using System.Security.Claims;
@if (isLoading == true)
{
    <div class="loading-overlay">
        <MudItem xs="12" Class="text-center">
            <MudImage Src="/Image/404.jpg" Alt="NOT FOUND" Elevation="0" Fluid="true" />
        </MudItem>
    </div>
}

@if (userRole == "1")
{
    <MudContainer Class="pt-5 pb-5 d-none d-md-block">
        <MudAppBar Elevation="1">
            <MudLink Typo="Typo.h4" Href="/" Underline="Underline.None">
                <MudText Typo="Typo.h4" Class="fw-bold text-white">BOXCARS</MudText>
            </MudLink>

            <MudSpacer />
            <MudMenu Style="width:fit-content" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                <ActivatorContent>
                    <MudChip Style="@($"background:none; color:{Colors.Shades.White};")" T="string">
                        <MudText Class="text-uppercase">
                            <MudIcon Icon="@Icons.Material.Outlined.DirectionsCar" Size="Size.Medium" Class="mb-1" />
                            quản lý chung
                            <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowDown" Size="Size.Small" Class="mb-1" />
                        </MudText>
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="/getemp">Danh sách Nhân Viên</MudMenuItem>
                    <MudMenuItem Href="/getdriver">Danh sách Tài Xế</MudMenuItem>
                    <MudMenuItem Href="/getcars">Danh sách Xe</MudMenuItem>
                    <MudMenuItem Href="/getcustomer">Danh sách Khách Hàng</MudMenuItem>
                    <MudMenuItem Href="/getcartypes">Danh sách Loại Xe</MudMenuItem>
                    <MudMenuItem Href="/getcarbrand">Danh sách Hãng Xe</MudMenuItem>
                </ChildContent>
            </MudMenu>

            <MudMenu Style="width:fit-content" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                <ActivatorContent>
                    <MudChip Style="@($"background:none; color:{Colors.Shades.White};")" T="string">
                        <MudText Class="text-uppercase">
                            <MudIcon Icon="@Icons.Material.Outlined.SettingsSuggest" Size="Size.Medium" Class="mb-1" />
                            dịch vụ
                            <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowDown" Size="Size.Small" Class="mb-1" />
                        </MudText>
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="@($"/guesttrip")">Hóa đơn Đặt vé</MudMenuItem>
                    <MudMenuItem Href="@($"/guestcar")">Hóa đơn Xe</MudMenuItem>
                    <MudMenuItem Href="@($"/guestcardriver")">Hóa đơn Thuê Tài Xế & Xe</MudMenuItem>
                </ChildContent>
            </MudMenu>

            <MudMenu Style="width:fit-content" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                <ActivatorContent>
                    <MudChip Style="@($"background:none; color:{Colors.Shades.White};")" T="string">
                        <MudText Class="text-uppercase">
                            <MudIcon Icon="@Icons.Material.Outlined.TravelExplore" Size="Size.Medium" Class="mb-1" />
                            tuyến xe
                            <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowDown" Size="Size.Small" Class="mb-1" />
                        </MudText>
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="/gettrip">Danh sách Chuyến Xe</MudMenuItem>
                    <MudMenuItem Href="/getlocation">Danh sách Bến Xe</MudMenuItem>
                </ChildContent>
            </MudMenu>

            <MudMenu Style="width:fit-content" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                <ActivatorContent>
                    <MudChip Style="@($"background:none; color:{Colors.Shades.White};")" T="string">
                        <MudText Class="text-uppercase">
                            <MudIcon Icon="@Icons.Material.Outlined.Report" Size="Size.Medium" Class="mb-1" />
                            thống kê
                            <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowDown" Size="Size.Small" Class="mb-1" />
                        </MudText>
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="/trip-statistics">Thống kê đặt vé</MudMenuItem>
                    <MudMenuItem Href="/driver-statistics">Thống kê thuê tài xế</MudMenuItem>
                    <MudMenuItem Href="/car-statistics">Thống kê thuê xe</MudMenuItem>
                </ChildContent>
            </MudMenu>
            <MudMenu Style="width:fit-content" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                <ActivatorContent>
                    <MudChip Style="@($"background:none; color:{Colors.Shades.White};")" T="string">
                        <MudText Class="text-uppercase">
                            <MudIcon Icon="@Icons.Material.Outlined.PostAdd" Size="Size.Medium" Class="mb-1" />
                            khác
                            <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowDown" Size="Size.Small" Class="mb-1" />
                        </MudText>
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="/getnews">Danh sách Tin Tức</MudMenuItem>
                    <MudMenuItem Href="/getbanner">Danh sách Banner</MudMenuItem>
                </ChildContent>
            </MudMenu>
            <MudSpacer />
            <MudMenu Style="width:fit-content" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter">
                <ActivatorContent>
                    <MudChip Style="@($"background:none; color:{Colors.Shades.White};")" T="string">
                        <MudImage ObjectFit="ObjectFit.Cover" Height="45" Width="45" Src="https://www.mudblazor.com/images/castle.jpg" Alt="Örebro Slott" Elevation="0" Class="rounded-circle" />
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="/profile">
                        <MudIcon Icon="@Icons.Material.Outlined.SupervisedUserCircle" Color="Color.Default" />
                        @fullname
                    </MudMenuItem>
                    <MudNavLink Class="mb-5" OnClick="Logout" Icon="@Icons.Material.Filled.Logout">Đăng xuất</MudNavLink>
                </ChildContent>
            </MudMenu>
        </MudAppBar>

    </MudContainer>
}
else if (userRole == "3")
{
    <MudContainer Class="pt-5 pb-5">
        <MudAppBar Elevation="1">
            <MudLink Typo="Typo.h4" Href="/" Underline="Underline.None">
                <MudText Typo="Typo.h4" Class="fw-bold text-white">BOXCARS</MudText>
            </MudLink>

            <MudSpacer />


            <MudMenu Style="width:fit-content" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                <ActivatorContent>
                    <MudChip Style="@($"background:none; color:{Colors.Shades.White};")" T="string">
                        <MudText Class="text-uppercase">
                            <MudIcon Icon="@Icons.Material.Outlined.CalendarViewDay" Size="Size.Medium" Class="mb-1" />
                            Lịch tài xế
                            <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowDown" Size="Size.Small" Class="mb-1" />
                        </MudText>
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="@($"/notifications")">Lịch tài xế</MudMenuItem>

                </ChildContent>
            </MudMenu>
        </MudAppBar>

    </MudContainer>
}



<MudAppBar Elevation="1" Class="d-md-none">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    <MudSpacer />
    <MudMenu Style="width:fit-content" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter">
        <ActivatorContent>
            <MudChip Style="@($"background:none; color:{Colors.Shades.White};")" T="string">
                <MudImage ObjectFit="ObjectFit.Cover" Height="45" Width="45" Src="https://www.mudblazor.com/images/castle.jpg" Alt="Örebro Slott" Elevation="0" Class="rounded-circle" />
            </MudChip>
        </ActivatorContent>
        <ChildContent>
            <MudMenuItem Href="/profile">
                <MudIcon Icon="@Icons.Material.Outlined.SupervisedUserCircle" Color="Color.Default" />
                @fullname
            </MudMenuItem>
            <hr class="m-0" />
            <MudMenuItem>Danh sách Chuyến Xe</MudMenuItem>
        </ChildContent>
    </MudMenu>
</MudAppBar>

<MudDrawer @bind-Open="_drawerOpen"
           Elevation="2"
           Anchor="Anchor.Start"
           Variant="@DrawerVariant.Persistent"
           ClipMode="DrawerClipMode.Docked"
           DisableOverlay="false"
           Class="d-md-none">
    <MudDrawerHeader Class="d-flex justify-content-center">
        <MudLink Typo="Typo.h4" Href="/" Underline="Underline.None">
            <MudText Typo="Typo.h4" Class="fw-bold" Color="Color.Primary">BOXCARS</MudText>
        </MudLink>
    </MudDrawerHeader>

    <MudDivider Class="my-2" Style="flex-grow: 0; border-width: 1px; border-color: gray;" />
    <MudNavMenu Style="overflow: hidden;">
        <MudNavLink Href="/ocrcar">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                <MudIcon Icon="@Icons.Material.Filled.CameraAlt" Size="Size.Small" Color="Color.Primary" />
                <MudText Class="text-uppercase">quét biển số xe</MudText>
            </MudStack>
        </MudNavLink>
    </MudNavMenu>
</MudDrawer>


<script>
    // Lấy token từ localStorage
    function getAuthToken() {
        return localStorage.getItem("authToken");
    }
</script>


@code {
    private string fullname;
    private bool isInitialized = false;
    private bool isUnauthorized = false;
    private bool isLoading = false;
    private string userRole;
    private string currentPage;
    private List<string> adminPages; // Trang của admin
    private List<string> driverPages; // Trang của tài xế
    private List<string> restrictedPages; // Trang bị hạn chế
    private bool _drawerOpen = false;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


    protected override async Task OnInitializedAsync()
    {
        // Lấy đường dẫn hiện tại
        currentPage = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "/");

        // Khởi tạo danh sách các trang
        adminPages = new List<string>
        {
            "/getemp", "/getDriver", "/getcars", "/getcustomer",
            "/getcartypes", "/getcarbrand", "/guesttrip", "/guestcar",
            "/trip-statistics", "/driver-statistics", "/car-statistics",
            "/profile",
            "/getnews", "/getbanner", "/index", "/ocrcar", "/guestcardriver",
            "/checkout"
        };

        driverPages = new List<string>
        {
            "/notifications"
        };

        restrictedPages = new List<string>
        {
            "/getemp", "/getdriver", "/getcars", "/getcustomer",
            "/getcartypes", "/getcarbrand", "/trip-statistics",
            "/car-statistics", "/getnews", "/getbanner"
        };

        CheckRole();
    }

    private void CheckRole()
    {

        switch (userRole)
        {
            case "1":  // Admin
                if (!adminPages.Contains(currentPage))
                {
                    isLoading = false;
                }
                else
                {
                    isLoading = false;
                }
                break;

            case "3":
                if (!driverPages.Contains(currentPage))
                {
                    isLoading = true;
                }
                else
                {
                    isLoading = false;
                }
                break;
            default:
                isLoading = false;
                break;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            isInitialized = true;
            var token = await js.InvokeAsync<string>("localStorage.getItem", "authToken");
            if (!string.IsNullOrEmpty(token))
            {
                try
                {
                    var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
                    if (handler.CanReadToken(token))
                    {
                        var jwtToken = handler.ReadJwtToken(token);
                        var fullnameClaim = jwtToken.Claims.FirstOrDefault(c => c.Type == "fullname");
                        var roleClaim = jwtToken.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role");

                        if (fullnameClaim != null && roleClaim != null)
                        {
                            fullname = fullnameClaim.Value;
                            userRole = roleClaim.Value;
                            Console.WriteLine(userRole + "quyền");

                        }
                    }
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Lỗi khi giải mã token: {ex.Message}");
                }
            }
            CheckRole();
            StateHasChanged();
        }
    }

    private async Task Logout()
    {
        await js.InvokeVoidAsync("localStorage.removeItem", "authToken");

        NavigationManager.NavigateTo("/", true);
    }
}
