@page "/getidcar/{id:int}"
@using FE_User.Pages.HomePage
@using FE_User.Pages.TripPage
@using MudBlazor
@using System.Text.Json
@inject HttpClient httpClient
@inject IJSRuntime js
@inject ISnackbar Snackbar
@inject NavigationManager Navigation
@inject IDialogService DialogService

@inject IDialogService Dialog

<MudContainer Class="pt-5">
    <MudGrid>
        <MudItem xs="8">
            <div class="mb-3">
                @if (cars.car_img != null && cars.car_img.Any())
                {
                    <img src="@cars.car_img.First().name" Alt="Hình chiếc xe" class="img-fluid shadow-sm w-100 mx-auto rounded-1" Style="height:572px;" />
                }
            </div>
            <MudPaper Elevation="0" Class="pa-2">
                <MudGrid Class="mb-4">
                    <MudItem xs="12">
                        <MudText Typo="Typo.h4" Class="pb-0"><b>@cars.car_name</b></MudText>
                    </MudItem>

                    <MudItem xs="2" Class="d-flex align-center">
                        <MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Warning" />
                        <MudText Typo="Typo.body1" Class="ml-1">@cars.rate_avg</MudText>
                    </MudItem>

                    <MudItem xs="10" Class="d-flex align-center">
                        <MudIcon Icon="@Icons.Material.Filled.BarChart" Color="Color.Success" />
                        <MudText Typo="Typo.body1" Class="ml-1">@cars.rate lượt đánh giá</MudText>
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudDivider Class="mt-6 mb-6" />

            <MudPaper Elevation="0" Class="pa-2">
                <MudGrid Class="mb-4">
                    <MudItem xs="12">
                        <MudText Typo="Typo.h5" Class="fw-bold">Đặc Điểm</MudText>
                    </MudItem>
                    <MudItem xs="4">
                        <MudText Class="mb-1" Typo="Typo.subtitle1">Loại hộp số</MudText>
                        @if (@cars.isAuto == 0)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Số Tự Động</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Số Sàn</MudText>
                        }
                    </MudItem>

                    <MudItem xs="4">
                        <MudText Class="mb-1" Typo="Typo.subtitle1">Số Ghế</MudText>
                        <MudText Typo="Typo.subtitle1" Class=" fw-bold">@cars.number_seat ghế</MudText>
                    </MudItem>

                    <MudItem xs="4">
                        <MudText Class="mb-1" Typo="Typo.subtitle1">Nhiên Liệu</MudText>
                        @if (cars.fuel == 1)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Xăng RON 92 (E5)</MudText>
                        }
                        else if (cars.fuel == 2)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">RON 95-III</MudText>
                        }
                        else if (cars.fuel == 3)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">RON 95-IV</MudText>
                        }
                        else if (cars.fuel == 4)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Diesel 0,05%5</MudText>
                        }
                        else if (cars.fuel == 5)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Diesel 0,001%S (Diesel Euro 5)</MudText>
                        }
                        else if (cars.fuel == 6)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Pin Lithium-ion (Li-ion)</MudText>
                        }
                        else if (cars.fuel == 7)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Pin Lithium Iron Phosphate (LFP)</MudText>
                        }
                        else if (cars.fuel == 8)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Pin thể rắn (Solid-State Battery)</MudText>
                        }
                        else if (cars.fuel == 9)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Hybrid truyền thống (HEV)</MudText>
                        }
                        else if (cars.fuel == 10)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Plug-in Hybrid (PHEV)</MudText>
                        }
                        else if (cars.fuel == 11)
                        {
                            <MudText Typo="Typo.subtitle1" Class=" fw-bold">Pin CATL</MudText>
                        }
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudDivider Class="mt-6 mb-6" />

            <MudPaper Elevation="0" Class="pa-2">
                <MudGrid Class="mb-4">
                    <MudItem xs="12">
                        <MudText Typo="Typo.h5" Class="fw-bold">Mô Tả</MudText>
                    </MudItem>

                    <MudItem xs="12">
                        <MudText Typo="Typo.subtitle1" Class="fw-bold" Color="Color.Primary">
                            @cars.car_name
                        </MudText>
                        <MudText Typo="Typo.subtitle1" Align="Align.Justify">
                            @cars.description
                        </MudText>
                        @if (latestImages != null && latestImages.Any())
                        {
                            <MudText Typo="Typo.body2" Class="fst-italic" Align="Align.Justify">
                                (*) Một số hình ảnh của xe
                            </MudText>
                            <MudGrid Class="ma-0 pa-0">
                                @foreach (var image in latestImages)
                                {
                                    <MudItem xs="6">
                                        <img src="@image.name" class="rounded-1 w-100" />
                                    </MudItem>
                                }
                            </MudGrid>
                        }
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudDivider Class="mt-6 mb-6" />

            <MudPaper Elevation="0" Class="pa-2">
                <MudGrid Class="mb-4">
                    <MudItem xs="12">
                        <MudText Typo="Typo.h5" Class="fw-bold">
                            Các Tiện Nghi Khác
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.Map" />
                            Bản đồ
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.Bluetooth" />
                            Bluetooth
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.Camera" />
                            Camera hành trình
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.Camera" />
                            Camera lùi
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.EdgesensorHigh" />
                            Cảm biến va chạm
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.CarCrash" />
                            Cảnh báo tốc độ
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.GpsFixed" />
                            Định vị GPS
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.Usb" />
                            Khe cắm USB
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.TireRepair" />
                            Lốp dự phòng
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.SmartDisplay" />
                            Màn hình DVD
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.Assignment" />
                            ETC
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.subtitle1">
                            <MudIcon Icon="@Icons.Material.Outlined.HealthAndSafety" />
                            Túi khí an toàn
                        </MudText>
                    </MudItem>

                </MudGrid>

            </MudPaper>

            <MudDivider Class="mt-6 mb-6" />

            <MudGrid Class="mb-4">
                <MudItem xs="12">
                    <MudText Typo="Typo.h5" Class="fw-bold">
                        Giấy Tờ Thuê Xe 
                        <MudButton OnClick="@(() => OpenDialogDown(_policyDown))" Color="Color.Transparent" Style="min-width: 0; padding: 0;">
                            <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Warning" Title="Info" />
                        </MudButton>
                    </MudText>
                   
                </MudItem>
                <MudPaper Elevation="0" Class="pa-4 border-l-4 border-solid mud-border-warning w-100" Style="@($"background:{Colors.Amber.Lighten5};")">
                    <MudGrid>
                        <MudItem xs="12" Class="d-flex align-center">
                            <img loading="lazy" src="https://n1-cstg.mioto.vn/v4/p/m/icons/papers/gplx_cccd.png" alt="" style="width:32px; height:32px;">
                            <MudText Typo="Typo.subtitle1" Class="ml-2">GPLX (đối chiếu) & CCCD (đối chiếu VNEID)</MudText>
                        </MudItem>
                        <MudItem xs="12" Class="d-flex align-center">
                            <img loading="lazy" src="https://n1-cstg.mioto.vn/v4/p/m/icons/papers/gplx_passport.png" alt="" style="width:32px; height:32px;">
                            <MudText Typo="Typo.subtitle1" Class="ml-2">GPLX (đối chiếu) & Passport (giữ lại)</MudText>
                        </MudItem>
                    </MudGrid>
                </MudPaper>

            </MudGrid>

            <MudDivider Class="mt-6 mb-6" />

            <MudGrid Class="mb-4">
                <MudItem xs="12">
                    <MudText Typo="Typo.h5" Class="fw-bold">Tài Sản Thế Chấp</MudText>
                </MudItem>
                <MudPaper Elevation="0" Class="pa-4 border-l-4 border-solid mud-border-warning w-100" Style="@($"background:{Colors.Amber.Lighten5};")">
                    <MudGrid>
                        <MudItem xs="12" Class="d-flex align-center">
                            <MudText Typo="Typo.subtitle1">Không yêu cầu khách thuê thế chấp Tiền mặt hoặc Xe máy</MudText>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudGrid>

            <MudDivider Class="mt-6 mb-6" />

            <MudGrid Class="mb-4">
                <MudTable Hover="false" Bordered="true" Elevation="0" Items="elements">
                    <RowTemplate>
                        <MudTd DataLabel="Nr">Trong vòng 1h sau giữ chỗ</MudTd>
                        <MudTd DataLabel="Sign">Trước chuyến đi >7 ngày</MudTd>
                        <MudTd DataLabel="Name">Trong vòng 7 ngày trước chuyến đi</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudGrid>
        </MudItem>

        <MudItem xs="4">
            <div class="mb-3">
                @if (latestImages != null && latestImages.Any())
                {
                    @foreach (var image in latestImages.Take(2))
                    {
                        <img src="@image.name" class="rounded-1 shadow-sm mb-1 w-100" Alt="Hình chiếc xe 2" />
                    }
                }
            </div>
            <MudPaper Class="p-4" MaxWidth="MaxWidth.Medium" Elevation="0">
                <MudGrid>
                    <MudItem xs="12" Class="pb-0 pt-0">
                        <MudText Typo="Typo.h6" Class="fw-bold" Color="Color.Primary">
                            @car_price.ToString("#,##0") VNĐ/ngày
                        </MudText>
                    </MudItem>
                    @*  <MudItem xs="5" Class="pb-0 pt-0">
                        <MudText Class="text-decoration-line-through fs-14 pt-2">@cars.price.ToString("#,##0") VNĐ/ngày</MudText>
                    </MudItem> *@
                    <MudItem xs="12">
                        <MudText Typo="Typo.subtitle1">
                            Thời gian thuê
                        </MudText>
                        <MudDateRangePicker Variant="Variant.Outlined" @bind-DateRange="_dateRange" MinDate="DateTime.Today" />
                    </MudItem>

                    <MudItem xs="6" Class="pb-2 pt-2">
                        <MudText Typo="Typo.subtitle1">Bảo hiểm thuê xe</MudText>
                    </MudItem>
                    <MudItem xs="6" Class="pb-2 pt-2">
                        <MudText Align="Align.End" Typo="Typo.subtitle1">@cars.insurance_fee.ToString("#,##0") VNĐ</MudText>
                    </MudItem>

                    <MudItem xs="6" Class="pb-2 pt-2">
                        <MudText Typo="Typo.subtitle1">Thành Tiền</MudText>
                    </MudItem>
                    <MudItem xs="6" Class="pb-2 pt-2">

                        @if (_dateRange.Start != null && _dateRange.End != null)
                        {
                            date_number = (_dateRange.End.Value - _dateRange.Start.Value).Days;
                            money = (date_number * car_price) - cars.insurance_fee;
                            <MudText Align="Align.End" Typo="Typo.subtitle1">@money.ToString("#,##0") VNĐ</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Error">
                                Vui lòng chọn khoảng thời gian thuê
                            </MudText>
                        }


                    </MudItem>

                    @if (cus_id != 0)
                    {
                        <MudItem xs="12">
                            <MudButton OnClick="CheckDateRetailCar" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary">thuê xe</MudButton>
                            @if (_showMessage)
                            {
                                <MudText Typo="Typo.subtitle1" Align="Align.Center" Color="Color.Error">@message</MudText>
                            }
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="12">
                            <MudText Align="Align.Center" Typo="Typo.subtitle1" Color="Color.Error">Vui lòng đăng nhập để thanh toán</MudText>
                        </MudItem>
                    }
                </MudGrid>
            </MudPaper>

            @if (cus_id != 0)
            {
                <MudPaper Class="p-4 mt-4" Elevation="0">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h6" Color="Color.Primary">THÔNG TIN KHÁCH HÀNG</MudText>
                        </MudItem>

                        <MudItem xs="4" Class="mb-3">
                            <MudText Align="Align.Left" Typo="Typo.subtitle1">
                                Khách hàng
                            </MudText>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1">
                                Email
                            </MudText>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1">
                                Điện thoại
                            </MudText>
                        </MudItem>

                        <MudItem xs="8" Class="mb-3">
                            <MudText Align="Align.Right" Class="fw-bold" Typo="Typo.subtitle1">
                                @customer.fullname
                            </MudText>
                            <MudText Align="Align.Right" Class="fw-bold" Typo="Typo.subtitle1">
                                @customer.email
                            </MudText>
                            <MudText Align="Align.Right" Class="fw-bold" Typo="Typo.subtitle1">
                                @customer.phone_number
                            </MudText>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            }
        </MudItem>
    </MudGrid>

</MudContainer>




@code {
    [Parameter] public int id { get; set; }
    private car cars;
    private int cus_id;
    private guest_car_create bill = new guest_car_create();
    private List<guest_car_create> elements = new List<guest_car_create>();
    private customer customer = new customer();
    private readonly DialogOptions _policyDown = new() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true };

    private List<car_img> latestImages;
    private bool loading = false;
    private bool? isCarRented;
    private bool _showMessage = false;
    private string message;

    private string url = "http://localhost:49922/api/Cars/viewCar/";
    private string urlCheckDateRetailCar = "http://localhost:49922/api/GuestCars/CheckDateRetailCar";
    private string urlBill = "http://localhost:49922/api/GuestCars";
    private string urlTopGuestCar = "http://localhost:49922/api/GuestCars/GetTop";
    private string urlCus = "http://localhost:49922/api/Customer";
    private int date_number;
    private float money;

    private DateRange? _dateRange;

    private float car_price;

    protected override async Task OnInitializedAsync()
    {
        await LoadCars();
        var token = await js.InvokeAsync<string>("localStorage.getItem", "authToken");

        if (!string.IsNullOrEmpty(token))
        {
            // Giải mã token
            var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
            var jwtToken = handler.ReadJwtToken(token);

            // Lấy giá trị của 'username' từ payload của token
            var usernameClaim = jwtToken.Claims.FirstOrDefault(c => c.Type == "id");

            if (usernameClaim != null)
            {
                cus_id = (int.Parse(usernameClaim.Value));
                await LoadUser();
            }
        }
    }

    private async Task LoadUser()
    {
        customer = await httpClient.GetFromJsonAsync<customer>($"{urlCus}/{cus_id}");
    }

    private async Task LoadCars()
    {
        try
        {
            cars = await httpClient.GetFromJsonAsync<car>($"{url}{id}");
            latestImages = cars?.car_img.OrderByDescending(img => img.id).Take(3).ToList();
            car_price = cars.price - cars.voucher;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }


    private async Task CheckDateRetailCar()
    {
        if (customer.driver_license_img1 == null)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Thiếu ảnh giấy phép lái xe",
                "Bạn chưa tải ảnh giấy phép lái xe. Bạn có muốn chuyển đến trang hồ sơ để cập nhật không?",
                yesText: "Đi đến Hồ sơ",
                cancelText: "Hủy"
            );

            if (result == true)
            {
                Navigation.NavigateTo("/profile");
            }
        }
        else
        {
            try
            {
                if (_dateRange == null || id == 0 || !_dateRange.Start.HasValue)
                {
                    _showMessage = true;
                    message = "Quý khách vui lòng chọn ngày thuê";
                    return;
                }

                var request = new CarRentalRequest
                    {
                        DateStart = _dateRange.Start.Value,
                        CarId = id
                    };

                var response = await httpClient.PostAsJsonAsync(urlCheckDateRetailCar, request);

                if (response.IsSuccessStatusCode)
                {
                    var isRented = await response.Content.ReadFromJsonAsync<bool>();

                    if (isRented)
                    {
                        message = "Xe đã có khách thuê vào ngày này!";
                        _showMessage = true;
                    }
                    else
                    {
                        bill.date_start = _dateRange.Start.Value;
                        bill.date_end = _dateRange.End.Value;

                        date_number = (bill.date_end.Value - bill.date_start.Value).Days;

                        bill.price = (cars.price * date_number) + cars.insurance_fee;

                        AddBill();
                    }
                }
                else
                {
                    message = "Lỗi kiểm tra tình trạng xe!";
                }
            }
            catch (Exception ex)
            {
                message = $"Đã có lỗi xảy ra: {ex.Message}";
            }
        }
    }

    private void DateRangeChanged(DateRange newRange)
    {
        _dateRange = newRange;
        CheckDateRetailCar();
    }

    private async Task AddBill()
    {
        try
        {
            bill.emp_id = 5;
            bill.date_start = _dateRange.Start.Value;
            bill.date_end = _dateRange.End.Value;
            bill.car_id = id;
            bill.cus_id = cus_id;
            // bill.price
            var response = await httpClient.PostAsJsonAsync(urlBill, bill);
            if (response.IsSuccessStatusCode)
            {
                // Console.WriteLine("Thêm thành công", Severity.Success);

                var responseTop = await httpClient.GetAsync(urlTopGuestCar);
                var jsonResponse = await responseTop.Content.ReadAsStringAsync();
                var guestTrips = JsonSerializer.Deserialize<List<guest_car>>(jsonResponse);
                var guestTripId = guestTrips.First().id;
                Navigation.NavigateTo($"/checkoutcar/{guestTripId}");
            }
            else
            {
                Console.WriteLine("Thêm thất bại", Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Lỗi: {ex.Message}", Severity.Error);
        }
    }
    private Task OpenDialogDown(DialogOptions options)
    {
        return Dialog.ShowAsync<DialogCaridDown>("Chính sách thuê xe ", options);
    }
}
