@page "/"
@inject HttpClient httpClient
@inject IJSRuntime js
@inject NavigationManager navigationManager
@inject IDialogService Dialog


<style>
    .position-relative::before {
        content: '';
        position: absolute;
        background: rgba(0,0,0,.3);
        width: 100%;
        height: 100%;
        border-radius: 5px
    }

    .mud-card {
        transition: all 0.2s ease-in-out;
    }

        .mud-card:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
</style>

<MudContainer Class="pa-0" style="margin-top:95px">
    <div class="position-relative">
        <MudCarousel Class="mud-width-full rounded-3" style="height:550px" ShowArrows="true" TData="banner" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="true" TData="object">
            @foreach (var item in eBanner)
            {
                <MudCarouselItem Transition="Transition.Slide" Color="Color.Primary">
                    <MudImage class="img-fluid w-100 rounded-3" style="height:550px" src="@item.img_banner" alt="@item.title" />
                </MudCarouselItem>
            }
        </MudCarousel>
    </div>
    @* chuyến xe phổ biến *@
    <MudText Class="text-center text-uppercase fw-bold pt-9 pb-3" Typo="Typo.h5" Color="Color.Primary">tuyến xe phổ biến</MudText>
    <MudGrid>
        <MudItem xs="4">
            <MudCard style="background-color: #f2f2f2">
                <div class="position-relative">
                    <MudCardMedia Class="rounded-2" Image="@eTrip1.FirstOrDefault().img_trip" Height="200" />
                    <div class="card-title position-absolute bottom-0 start-0 fw-bold ps-3 text-white">
                        <MudText Typo="Typo.h6"><b>Từ</b></MudText>
                        <MudText Typo="Typo.h5"><b>@eTrip1.FirstOrDefault().from</b></MudText>
                    </div>
                </div>
                @foreach (var item in eTrip1)
                {
                    <MudCard>
                        <MudCardContent Class="bg-white rounded-2 mt-1 mb-1">

                            <MudGrid>
                                <MudItem xs="8">
                                    <MudLink Href="" Underline="Underline.None" Color="Color.Primary" Typo="Typo.subtitle1"><b>@item.to</b></MudLink>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudText Typo="Typo.subtitle1"><b>@item.price.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</b></MudText>
                                </MudItem>
                            </MudGrid>

                            <MudText Style="@($"color:{Colors.Grey.Darken1};")">Quãng đường: @item.distance</MudText>
                            <MudText Style="@($"color:{Colors.Grey.Darken1};")">Khởi hành ngày: @item.time_start.ToString("dd/MM/yyyy")</MudText>

                        </MudCardContent>
                    </MudCard>
                }
            </MudCard>
        </MudItem>
        <MudItem xs="4">
            <MudCard style="background-color: #f2f2f2">
                <div class="position-relative">
                    <MudCardMedia Class="rounded-2" Image="@eTrip2.FirstOrDefault().img_trip" Height="200" />
                    <div class="card-title position-absolute bottom-0 start-0 fw-bold ps-3 text-white">
                        <MudText Typo="Typo.h6"><b>Từ</b></MudText>
                        <MudText Typo="Typo.h5"><b>@eTrip2.FirstOrDefault().from</b></MudText>
                    </div>
                </div>
                @foreach (var item in eTrip2)
                {
                    <MudCard>
                        <MudCardContent Class="bg-white rounded-2 mt-1 mb-1">
                            <MudGrid>
                                <MudItem xs="8">
                                    <MudLink Href="" Underline="Underline.None" Color="Color.Primary" Typo="Typo.subtitle1"><b>@item.to</b></MudLink>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudText Typo="Typo.subtitle1"><b>@item.price.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</b></MudText>
                                </MudItem>
                            </MudGrid>
                            <MudText Style="@($"color:{Colors.Grey.Darken1};")">Quãng đường: @item.distance</MudText>
                            <MudText Style="@($"color:{Colors.Grey.Darken1};")">Khởi hành ngày: @item.time_start.ToString("dd/MM/yyyy")</MudText>
                        </MudCardContent>
                    </MudCard>
                }
            </MudCard>
        </MudItem>
        <MudItem xs="4">
            <MudCard style="background-color: #f2f2f2">
                <div class="position-relative">
                    <MudCardMedia Class="rounded-2" Image="@eTrip3.FirstOrDefault().img_trip" Height="200" />
                    <div class="card-title position-absolute bottom-0 start-0 fw-bold ps-3 text-white">
                        <MudText Typo="Typo.h6"><b>Từ</b></MudText>
                        <MudText Typo="Typo.h5"><b>@eTrip3.FirstOrDefault().from</b></MudText>
                    </div>
                </div>
                @foreach (var item in eTrip3)
                {
                    <MudCard>
                        <MudCardContent Class="bg-white rounded-2 mt-1 mb-1">
                            <MudGrid>
                                <MudItem xs="8">
                                    <MudLink Href="" Underline="Underline.None" Color="Color.Primary" Typo="Typo.subtitle1"><b>@item.to</b></MudLink>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudText Typo="Typo.subtitle1"><b>@item.price.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ</b></MudText>
                                </MudItem>
                            </MudGrid>
                            <MudText Style="@($"color:{Colors.Grey.Darken1};")">Quãng đường: @item.distance</MudText>
                            <MudText Style="@($"color:{Colors.Grey.Darken1};")">Khởi hành ngày: @item.time_start.ToString("dd/MM/yyyy")</MudText>
                        </MudCardContent>
                    </MudCard>
                }
            </MudCard>
        </MudItem>
    </MudGrid>

    @* bạn cần thuê xe *@
    <MudPaper Class="pa-5 mt-16" style="background-color:#F4F6FF">
        <MudGrid>
            <MudItem xs="5">
                <MudImage Fluid="true" Src="https://vietnamadventuretour.com.vn/wp-content/uploads/2023/07/Car-Rental.jpg" Class="rounded-lg" />
            </MudItem>
            <MudItem xs="7" Class="text-center">
                <MudIcon Icon="@Icons.Material.Outlined.DirectionsCar" Size="Size.Large" Color="Color.Primary"></MudIcon>
                <MudText Typo="Typo.h5">Bạn cần thuê xe?</MudText>
                <MudItem xs="8" Class="mx-auto text-justify text-center">
                    <MudText Typo="Typo.subtitle1">BOXCAR với đa dạng các dòng xe từ bình dân đến cao cấp, bạn có thể dễ dàng tìm được chiếc xe phù hợp với nhu cầu của mình. Quá trình đặt xe nhanh chóng, an toàn và minh bạch, giúp bạn tiết kiệm thời gian mà vẫn đảm bảo chất lượng dịch vụ.</MudText>
                    <MudButton Href="/getCar" Class="mx-auto mt-10" Variant="Variant.Filled" Color="Color.Primary">thuê xe</MudButton>
                </MudItem>
            </MudItem>
        </MudGrid>
    </MudPaper>

    @* bạn cần thuê tài xế *@
    <MudPaper Class="pa-5 mt-16" style="background-color:#F4F6FF">
        <MudGrid>
            <MudItem xs="8" Class="text-center">
                <MudIcon Icon="@Icons.Material.Outlined.CarRental" Size="Size.Large" Color="Color.Primary"></MudIcon>
                <MudText Class="text-justify" Typo="Typo.h5">Bạn muốn hành trình của mình an toàn và tiện lợi hơn?</MudText>
                <MudItem xs="8" Class="mx-auto text-justify text-center">
                    <MudText Typo="Typo.subtitle1">BOXCAR cam kết đem đến cho bạn dịch vụ thuê tài xế nhanh chóng và đáng tin cậy. Bạn có thể đặt ngay một tài xế phù hợp với nhu cầu di chuyển của mình, , đảm bảo hành trình của bạn luôn an toàn và thoải mái.</MudText>
                </MudItem>
                <MudButton Href="/getdriver" Class="mx-auto mt-10" Variant="Variant.Filled" Color="Color.Primary">thuê tài xế</MudButton>
            </MudItem>
            <MudItem xs="4">
                <MudImage Fluid="true" Src="https://sydneyphysiosolutions.com.au/wp-content/uploads/2016/09/driving1.png" Class="rounded-lg w-100" />
            </MudItem>
        </MudGrid>
    </MudPaper>

    @* xe chất lượng *@
    <MudText Class="text-center text-uppercase fw-bold pt-14 pb-3" Typo="Typo.h5" Color="Color.Primary">Xe Chất Lượng, Tài Xế Chuyên Nghiệp - Trọn Gói Cho Hành Trình Hoàn Hảo</MudText>
    <MudImage Height="500" Fluid="true" Src="https://firebasestorage.googleapis.com/v0/b/pear-b8fc3.appspot.com/o/1.png?alt=media&token=62b23170-c117-46d9-9637-020374e28c16" Class="rounded-lg w-100" />


    @* tin tức *@
    <MudText Class="text-center text-uppercase fw-bold pt-14 pb-3" Typo="Typo.h5" Color="Color.Primary">tin tức</MudText>
    <MudCarousel Class="mud-width-full" Style="height: 350px" TData="news" ShowBullets="false">
        <MudCarouselItem Transition="Transition.Slide">
            <div class="d-flex">
                @foreach (var item in eNews1)
                {
                    <MudCard Class="text-center ma-2" Style="flex: 1;">
                        <MudCardMedia Image="@item.news_img" Height="240" />
                        <MudCardContent>
                            <MudText class="fw-bold ellipsis">@item.title</MudText>
                            <MudLink Href="#" Underline="Underline.None" Color="Color.Primary">
                                Xem thêm >>
                            </MudLink>
                        </MudCardContent>
                    </MudCard>
                }
            </div>
        </MudCarouselItem>

        <MudCarouselItem Transition="Transition.Slide">
            <div class="d-flex">
                @foreach (var item in eNews2)
                {
                    <MudCard Class="text-center ma-2" Style="flex: 1">
                        <MudCardMedia Image="@item.news_img" Height="240" />
                        <MudCardContent>
                            <MudText class="fw-bold ellipsis">@item.title</MudText>
                            <MudLink Href="#" Underline="Underline.None" Color="Color.Primary">
                                Xem thêm >>
                            </MudLink>
                        </MudCardContent>
                    </MudCard>
                }
            </div>
        </MudCarouselItem>

        <MudCarouselItem Transition="Transition.Slide">
            <div class="d-flex">
                @foreach (var item in eNews3)
                {
                    <MudCard Class="text-center ma-2" Style="flex: 1;">
                        <MudCardMedia Image="@item.news_img" Height="240" />
                        <MudCardContent>
                            <MudText class="fw-bold ellipsis">@item.title</MudText>
                            <MudLink Href="#" Underline="Underline.None" Color="Color.Primary">
                                Xem thêm >>
                            </MudLink>
                        </MudCardContent>
                    </MudCard>
                }
            </div>
        </MudCarouselItem>
    </MudCarousel>

    @* kết nối với chúng tôi *@
    <MudText Class="text-center text-uppercase fw-bold pt-14 pb-3" Typo="Typo.h5" Color="Color.Primary">kết nối với chúng tôi</MudText>
    <MudText Class="text-center pb-5" Typo="Typo.body2">
        Kết nối với chúng tôi thông qua website BOXCARS: Đặt vé xe, thuê
        xe,...
    </MudText>

    <MudGrid>
        <MudPaper Elevation="0" Class="mx-auto">
            <MudGrid>
                <MudItem xs="4">
                    <div class="card contact-with-me text-center">
                        <img src="https://cdn1.iconfinder.com/data/icons/universal-icon/512/ticket-512.png"
                             class="card-img-top-contact rounded-circle mx-auto d-block" alt="Đặt Vé">
                        <div class="card-body">
                            <MudText Class="text-center pb-5" Typo="Typo.h6">
                                Đặt Vé
                            </MudText>
                        </div>
                    </div>
                </MudItem>
                <MudItem xs="4">
                    <div class="card contact-with-me text-center">
                        <img src="https://img.freepik.com/premium-vector/car_71431-127.jpg?w=740"
                             class="card-img-top-contact rounded-circle mx-auto d-block" alt="Thuê Xe">
                        <div class="card-body">
                            <MudText Class="text-center pb-5" Typo="Typo.h6">
                                Thuê Xe
                            </MudText>
                        </div>
                    </div>
                </MudItem>
                <MudItem xs="4">
                    <div class="card contact-with-me text-center">
                        <img src="https://www.shutterstock.com/shutterstock/photos/200330813/display_1500/stock-vector-the-bus-driver-in-glasses-on-the-workplace-200330813.jpg"
                             class="card-img-top-contact rounded-circle mx-auto d-block" alt="Thuê Tài">
                        <div class="card-body">
                            <MudText Class="text-center pb-5" Typo="Typo.h6">
                                Thuê Tài
                            </MudText>
                        </div>
                    </div>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudGrid>

    @* tài xế nổi bật trong tháng *@
    <MudText Class="text-center text-uppercase fw-bold pt-14 pb-3" Typo="Typo.h5" Color="Color.Primary">tài xế nổi bật tháng trước</MudText>
    <MudGrid>
        @foreach (var item in eDriver)
        {
            <MudItem xs="3">
                <MudCard Style="background-color: #F4F6FF">
                    <MudCardContent>
                        <MudImage Height="300" Src="@item.img_driver" Fluid="true" />
                        <MudText Class="text-center mt-2" Typo="Typo.h6" Color="Color.Primary">@item.fullname</MudText>
                        <MudGrid Class="mt-2">
                            <MudItem xs="4">
                                <MudText>@item.birthday tuổi</MudText>
                            </MudItem>
                            <MudItem xs="8">
                                <MudText Class="float-end">@item.trip_count chuyến xe</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" class="mt-4" Color="Color.Primary">Thuê ngay</MudButton>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

    @* quảng cáo *@
    <MudPaper Class="pa-12 mt-14" Style="background-color: #F4F6FF">
        <div class="col-md-8 mx-auto">
            <MudText Class="text-center text-uppercase fw-bold pb-3" Typo="Typo.h4" Color="Color.Primary">BOXCARS</MudText>
            <MudText Class="text-center text-uppercase fw-bold pb-3" Typo="Typo.h5" Color="Color.Primary">CHẤT LƯỢNG LÀ DANH DỰ HÀNG ĐẦU CỦA CHÚNG TÔI</MudText>
            <MudText Class="text-center pb-5" Typo="Typo.subtitle1">
                Được khách hàng tin tưởng và lựa chọn là niềm vinh hạnh của chúng
                tôi
            </MudText>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <img class="rounded-circle" style="width: 125px; height: 125px;"
                             src="https://img.freepik.com/free-vector/people-traveling-flat-style_23-2147767901.jpg?t=st=1725768707~exp=1725772307~hmac=3c6f90d9b11d047fbf4cd9f34e491f05fbeecbe6c40dfbbffe5f88ed0a6c700c&w=740"
                             alt="">
                    </div>
                    <div class="col-md-9 align-self-center">
                        <p class="fs-24 fw-bold">
                            Hơn 2000+ lượt khách mỗi ngày
                        </p>
                        <p class="fs-18"> <strong>BOXCARS</strong> luôn được khách hàng tin tưởng</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <img class="rounded-circle" style="width: 125px; height: 125px;"
                             src="https://img.freepik.com/free-vector/bus-interior-set-seat-bus-bus-stop-buying-tickets_613284-547.jpg?t=st=1725769417~exp=1725773017~hmac=0d31b0ce0e0c77a5ea5e6b7432179bc6753f91378a6e06aa4ad51a2de59dc33d&w=996"
                             alt="">
                    </div>
                    <div class="col-md-9 align-self-center">
                        <p class="fs-24 fw-bold">
                            Hơn 250 phòng vé - bưu cục
                        </p>
                        <p class="fs-18">
                            <strong>BOXCARS</strong> có hơn 350 phòng vé, bến xe,... trên toàn hệ
                            thống
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <img class="rounded-circle" style="width: 125px; height: 125px;"
                             src="https://img.freepik.com/free-vector/car-parking-city-street-luxury-automobiles_33099-1995.jpg?t=st=1725769583~exp=1725773183~hmac=3c92c9f7a2873d75a088575cac107f530fd64197400b95e70583eb2197d70120&w=1380"
                             alt="">
                    </div>
                    <div class="col-md-9 align-self-center">
                        <p class="fs-24 fw-bold">
                            Hơn 1000 chuyến xe
                        </p>
                        <p class="fs-18">
                            <strong>BOXCARS</strong> phục vụ hơn 1,000 chuyến xe đường dài và liên
                            tỉnh mỗi ngày
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid h-100" src="https://img.freepik.com/free-vector/family-choosing-new-car-automobile-store-vehicle-kid-auto-flat-vector-illustration-shopping-transportation-concept_74855-10047.jpg?t=st=1725769799~exp=1725773399~hmac=7ff291e93178ea5069dfa0e70b3c7d5aa0788ff898a66511e6f2dd4319010725&w=996" alt="">
            </div>
        </div>
    </MudPaper>
</MudContainer>


<script>
    setTimeout(function () {
        document.getElementById("app").style.display = "block";
        document.getElementById("app").style.display = "block";
    }, 2000);
</script>
@code {
    [Parameter]
    public int Id { get; set; }
    private readonly DialogOptions _maxWidth = new() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true };
    public string TextValue { get; set; }
    private dropdown dropDown = new dropdown();
    Margin _margin;
    bool _dense;
    bool _readonly;
    bool _placeholder;
    bool _helperText;
    bool _helperTextOnFocus;
    bool _clearable;
    private DateTime? _date = DateTime.Today;
    public bool Dense_Radio { get; set; } = true;

    private IEnumerable<dropdown> tripFrom = new List<dropdown>();
    private IEnumerable<dropdown> tripTo = new List<dropdown>();

    private IEnumerable<banner> eBanner = new List<banner>();

    private IEnumerable<news> eNews1 = new List<news>();
    private IEnumerable<news> eNews2 = new List<news>();
    private IEnumerable<news> eNews3 = new List<news>();

    private IEnumerable<trip_hot_home> eTrip1 = new List<trip_hot_home>();
    private IEnumerable<trip_hot_home> eTrip2 = new List<trip_hot_home>();
    private IEnumerable<trip_hot_home> eTrip3 = new List<trip_hot_home>();

    private IEnumerable<banner> eVoucher = new List<banner>();

    private IEnumerable<driver_home> eDriver = new List<driver_home>();


    private string urlDropdownTripFrom = "http://localhost:49922/api/Dropdown/tripfrom";
    private string urlDropdownTripTo = "http://localhost:49922/api/Dropdown/tripto";

    private string urlGet3Banner = "http://localhost:49922/api/HomePage/Get3Banner";
    private string urlGet3News1 = "http://localhost:49922/api/HomePage/Get3News1";
    private string urlGet3News2 = "http://localhost:49922/api/HomePage/Get3News2";
    private string urlGet3News3 = "http://localhost:49922/api/HomePage/Get3News3";

    private string urlTrip1 = "http://localhost:49922/api/HomePage/TripHot1";
    private string urlTrip2 = "http://localhost:49922/api/HomePage/TripHot2";
    private string urlTrip3 = "http://localhost:49922/api/HomePage/TripHot3";

    private string urlDriver = "http://localhost:49922/api/HomePage/DriverHome";

    private string urlVoucher = "http://localhost:49922/api/HomePage/VoucherHome";

    protected override async Task OnInitializedAsync()
    {
        await ElementNews();
        await TripHot();
        await Voucher();
        await Driver();
        await ElementBanner();
        await LoadTrip();
    }

    private async Task LoadTrip()
    {
        try
        {
            tripFrom = await httpClient.GetFromJsonAsync<List<dropdown>>(urlDropdownTripFrom);
            tripTo = await httpClient.GetFromJsonAsync<List<dropdown>>(urlDropdownTripTo);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }


    async Task ElementNews()
    {
        try
        {
            eNews1 = await httpClient.GetFromJsonAsync<List<news>>(urlGet3News1);
            eNews2 = await httpClient.GetFromJsonAsync<List<news>>(urlGet3News2);
            eNews3 = await httpClient.GetFromJsonAsync<List<news>>(urlGet3News3);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
    async Task ElementBanner()
    {
        try
        {
            eBanner = await httpClient.GetFromJsonAsync<List<banner>>(urlGet3Banner);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    async Task TripHot()
    {
        try
        {
            eTrip1 = await httpClient.GetFromJsonAsync<List<trip_hot_home>>(urlTrip1);
            eTrip2 = await httpClient.GetFromJsonAsync<List<trip_hot_home>>(urlTrip2);
            eTrip3 = await httpClient.GetFromJsonAsync<List<trip_hot_home>>(urlTrip3);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    async Task Voucher()
    {
        try
        {
            eVoucher = await httpClient.GetFromJsonAsync<List<banner>>(urlVoucher);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    async Task Driver()
    {
        try
        {
            eDriver = await httpClient.GetFromJsonAsync<List<driver_home>>(urlDriver);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void ViewDetails(news news)
    {
        if (news != null)
        {
            // navigationManager.NavigateTo($"/news/{news.id}");
        }
    }
    private Task OpenDialogAsync(DialogOptions options)
    {
        return Dialog.ShowAsync<Dialog>("Danh Sách Các Chuyến Đi", options);
    }
}
