@inherits LayoutComponentBase
<!-- FontAwesome 6.2.0 CSS -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<!-- (Optional) Use CSS or JS implementation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
<link href="style.css" rel="stylesheet" />
<body>
    <NavMain />

    <MudContainer style="margin-top:80px;" MaxWidth="MaxWidth.Large">
        @Body
    </MudContainer>
    <MudContainer Style="margin-top:20px; padding: 0px;" MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudPaper Class="pa-7 fixed_positon" Style="@($"color:{Colors.Shades.White}; background:{Colors.DeepPurple.Accent4};")">
            <MudGrid>
                <MudItem xs="5">
                    <MudText Class="fw-bold" Typo="Typo.h4">BOXCARS</MudText>
                    <MudText Class="mt-2 fw-bold" Typo="Typo.subtitle1">TỔNG ĐÀI CHĂM SÓC KHÁCH HÀNG</MudText>
                    <MudText Class="mt-2 fw-bold" Typo="Typo.subtitle1">1900 1061</MudText>
                </MudItem>
                <MudItem xs="7">
                    <MudGrid>
                        <MudItem xs="4">
                            <MudText Class="mt-1 fw-bold" Typo="Typo.subtitle2">Hỗ trợ</MudText>
                            <MudText Class="mt-1" Typo="Typo.subtitle2">
                                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Color="Color.Default"></MudIcon>
                                Tra cứu thông tin đặt vé
                            </MudText>
                            <MudLink Href="/policy" Class="text-decoration-none text-white">
                                <MudText Class="mt-1 text-white" Typo="Typo.subtitle2">
                                    <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Color="Color.Default"></MudIcon>
                                    Chính sách và điều khoản
                                </MudText>
                            </MudLink>
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Class="mt-1 fw-bold" Typo="Typo.subtitle2">Hướng dẫn</MudText>
                            <MudText Class="mt-1" Typo="Typo.subtitle2">
                                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Color="Color.Default"></MudIcon>
                                Hướng dẫn thuê tài xế
                            </MudText>
                            <MudText Class="mt-1" Typo="Typo.subtitle2">
                                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Color="Color.Default"></MudIcon>
                                Hướng dẫn thuê xe
                            </MudText>
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Class="mt-1 fw-bold" Typo="Typo.subtitle2">Về chúng tôi</MudText>
                            <MudText Class="mt-1" Typo="Typo.subtitle2">
                                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Color="Color.Default"></MudIcon>
                                Đóng góp ý kiến
                            </MudText>
                            <MudText Class="mt-1" Typo="Typo.subtitle2">
                                <MudIcon Icon="@Icons.Material.Outlined.ArrowRight" Color="Color.Default"></MudIcon>
                                Chăm sóc khách hàng
                            </MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudContainer>
</body>


<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<MudThemeProvider />
<MudSnackbarProvider />
<MudDialogProvider />

