@page "/checkouttrip"
@using System.Globalization
@inject HttpClient httpClient
@inject IJSRuntime js
@inject NavigationManager Navigation
@inject IDialogService Dialog


<MudContainer Class="mt-8 mb-5" MaxWidth="MaxWidth.Medium">
    <MudPaper Class="p-4" Elevation="0">
        @if (responseCode == "00")
        {
            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Primary">
                THANH TOÁN THÀNH CÔNG
            </MudText>
        }
        else
        {
            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Primary">
                QUÍ KHÁCH VUI LÒNG THANH TOÁN TRONG THỜI GIAN 15 PHÚT
            </MudText>
        }
      
        <MudGrid Class="mt-4">
            <MudItem xs="12">
                <MudPaper Class="p-4" Elevation="4">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h6" Color="Color.Primary">THÔNG TIN KHÁCH HÀNG</MudText>
                        </MudItem>

                        <MudItem xs="4" Class="mb-3">
                            <MudText Align="Align.Left" Typo="Typo.subtitle1">
                                Tên khách hàng
                            </MudText>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1">
                                Email
                            </MudText>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1">
                                Số điện thoại
                            </MudText>
                        </MudItem>

                        <MudItem xs="8" Class="mb-3">
                            <MudText Align="Align.Right" Class="fw-bold" Typo="Typo.subtitle1">
                                @bill.cus_name
                            </MudText>
                            <MudText Align="Align.Right" Class="fw-bold" Typo="Typo.subtitle1">
                                @bill.email
                            </MudText>
                            <MudText Align="Align.Right" Class="fw-bold" Typo="Typo.subtitle1">
                                @bill.phone_number
                            </MudText>
                        </MudItem>
                    </MudGrid>
                    <div class="d-flex justify-center mt-3">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="PrintTicketDetails">
                            <MudIcon Icon="@Icons.Material.Filled.Print" Class="mr-2" />
                            In Chi Tiết
                        </MudButton>
                    </div>
                </MudPaper>
            </MudItem>

            <MudItem xs="12">
                <MudPaper Class="p-4" Elevation="4">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h6" Color="Color.Primary">THÔNG TIN HÓA ĐƠN</MudText>
                        </MudItem>

                        <MudItem xs="3">
                            <MudText Typo="Typo.subtitle1" Color="Color.Default">Tuyến Xe</MudText>
                        </MudItem>
                        <MudItem xs="9">
                            <MudText Align="Align.End" Class="fw-bold" Typo="Typo.subtitle1">@bill.location_from (@bill.from) - @bill.location_to (@bill.to)</MudText>
                        </MudItem>

                        <MudItem xs="3">
                            <MudText Typo="Typo.subtitle1" Color="Color.Default">Khởi Hành</MudText>
                        </MudItem>
                        <MudItem xs="9">
                            <MudText Align="Align.End" Class="fw-bold" Typo="Typo.subtitle1">@bill.time_start</MudText>
                        </MudItem>
                        <MudItem xs="3">
                            <MudText Typo="Typo.subtitle1" Color="Color.Default">Tổng Tiền</MudText>
                        </MudItem>
                        <MudItem xs="9">
                            <MudText Align="Align.End" Color="Color.Secondary" Class="fw-bold" Typo="Typo.subtitle1">@bill.price.ToString("#,##0") VNĐ</MudText>
                        </MudItem>
                    </MudGrid>

                    <MudDataGrid Class="mx-auto pa-2 mt-4" T="guest_trip_child" Dense="true" Hover="false" Bordered="true" Striped="false"
                                 MultiSelection="false" Items="@guest_trip_child" Elevation="0"
                                 Hideable="true">
                        <Columns>
                            <PropertyColumn T="guest_trip_child" TProperty="string" Property="x => x.guest_trip_code" Class="fw-bold" Title="Mã Vé" Width="150px" />
                            <PropertyColumn T="guest_trip_child" TProperty="string" Property="x => x.seat_name" Class="fw-bold" Title="Ghế" Width="150px" />
                            <PropertyColumn T="guest_trip_child" TProperty="float" Property="x => x.price" Class="fw-bold" Title="Giá vé" Width="150px">
                            </PropertyColumn>
                            <PropertyColumn T="guest_trip_child" TProperty="DateTime" Property="x => x.time_start" Class="fw-bold" Title="Bắt Đầu" Width="150px" />
                            <PropertyColumn T="guest_trip_child" TProperty="DateTime" Property="x => x.time_end" Class="fw-bold" Title="Kết Thúc" Width="150px" />
                        </Columns>
                    </MudDataGrid>
                </MudPaper>
            </MudItem>        
        </MudGrid>
    </MudPaper>
    <div id="printableTicketDetails">
        <MudCard Class="mt-5" Elevation="0" Style="border: 1px solid #DDE2E8; border-radius: 1.5rem !important;">
            <MudCardHeader Class="py-2 d-flex justify-center align-center" Style="background-color: #F7F7F7;">
                <MudText Typo="Typo.h6" Style="font-weight: 600 !important;">THÔNG TIN MUA VÉ</MudText>
            </MudCardHeader>

            <MudCardContent Class="mb-6">
                <MudGrid>
                    <MudItem xs="6">
                        <MudGrid>
                            <MudItem xs="4">
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Họ và tên:</MudText>
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Số điện thoại:</MudText>
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Email:</MudText>
                            </MudItem>
                            <MudItem xs="8">
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style="">Lê Tấn Bảo</MudText>
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style="">091xxxx799</MudText>
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style="">let******Xgmail.com</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="6">
                        <MudGrid>
                            <MudItem xs="4">
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Tổng giá vé:</MudText>
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">PTTT:</MudText>
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Trạng thái:</MudText>
                            </MudItem>
                            <MudItem xs="8">
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style="">165.000đ</MudText>
                                <MudText Class="mb-2" Typo="Typo.subtitle1" Style="">VNPay</MudText>
                                <MudText Class="mb-2 fw-bold" Typo="Typo.subtitle1" Color="Color.Success" Style="">Thành công</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12">
                        <MudText Typo="Typo.h6">15:59 Thứ 5, 12/12</MudText>
                    </MudItem>
                    <MudItem xs="12" Class="d-flex justify-center align-center">
                        <MudPaper Class="p-3" Elevation="0" Style="border: 1px solid #DDE2E8; border-radius: 1rem !important; width: 400px;">
                            <MudGrid>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Mã đặt vé</MudText>
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Tuyến xe</MudText>
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Thời gian xuất bến</MudText>
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Số ghế</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">TX241212</MudText>
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">Can Tho - Ho Chi Minh</MudText>
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">15:59 - 12/12/2024</MudText>
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">B01</MudText>
                                </MudItem>

                                <MudItem xs="8" Class="pt-0 pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Thời gian tới điểm lên xe</MudText>
                                </MudItem>
                                <MudItem xs="4" Class="pt-0 pb-0">
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Error">Trước 15:44 <br /> 12/12/2024</MudText>
                                </MudItem>

                                <MudItem xs="12" Class="pt-0 pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">
                                        Quý khách vui lòng có mặt tại bến xe
                                        <b style="color: #594AE2; font-weight: none;">BX Cần Thơ</b>
                                        <b style="color: #F44336; font-weight: none;">trước 15:44 12/12/2024</b>
                                        để kiểm tra thông tin trước khi lên xe.
                                    </MudText>
                                </MudItem>

                                <MudItem xs="12" Class="pt-0 pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Điểm lên xe</MudText>
                                </MudItem>
                                <MudItem xs="12" Class="pt-0 pb-0 pl-0 ml-6">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=""><b style="color: #594AE2; font-weight: none;">BX Cần Thơ</b> <br />VP BX Cần Thơ: Quốc lộ 1, Hưng Thạnh, Cái Răng, TP. Cần Thơ</MudText>
                                </MudItem>

                                <MudItem xs="12" Class="pt-0 pb-0 ">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">
                                        Điểm trả khách
                                        <MudButton OnClick="@(() => OpenDialogDown(_policyDown))" Color="Color.Transparent" Style="min-width: 0; padding: 0;">
                                            <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Warning" Title="Info" />
                                        </MudButton>
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12" Class="pt-0 pb-0 pl-0 ml-6">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1">395 Kinh Dương Vương, P.An Lạc, Q.Bình Tân, TP.HCM</MudText>
                                </MudItem>

                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">
                                        Giá vé
                                        <MudButton OnClick="@(() => OpenDialogPrice(_policyPrice))" Color="Color.Transparent" Style="min-width: 0; padding: 0;">
                                            <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Warning" Title="Info" />
                                        </MudButton>
                                    </MudText>
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Biển số xe</MudText>
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Mã tra cứu hóa đơn</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">165.000đ</MudText>
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">59F-040.87</MudText>
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">GT241212</MudText>
                                </MudItem>

                            </MudGrid>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    </div>
</MudContainer>
<script type="module">
    window.printElement = (elementId) => {
        // Lưu lại nội dung ban đầu của trang
        const originalContents = document.body.innerHTML;

        // Lấy nội dung phần muốn in
        const printContents = document.getElementById(elementId).innerHTML;

        // Thay thế toàn bộ nội dung trang bằng nội dung in
        document.body.innerHTML = `
                <div class="print-container">
                    ${printContents}
                </div>
            `;

        // Thêm CSS tùy chỉnh để định dạng trang in
        const style = document.createElement('style');
        style.innerHTML = `
    @@media print {
                    body * {
                        visibility: hidden;
                    }
                    .print-container, .print-container * {
                        visibility: visible;
                    }
                    .print-container {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }
                }
            `;
        document.head.appendChild(style);

        // Gọi hàm in
        window.print();

        // Khôi phục lại nội dung ban đầu
        document.body.innerHTML = originalContents;

        // Loại bỏ style in
        style.remove();
    };
</script>
@code {
    private guest_trip bill = new guest_trip();
    private guest_trip_update bill_update = new guest_trip_update();
    private List<guest_trip_child> guest_trip_child = new List<guest_trip_child>();
    private readonly DialogOptions _policyDown = new() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true };
    private readonly DialogOptions _policyPrice = new() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true };
    private string url = "http://localhost:49922/api/GuestTrip";
    private string urlUpdateStatusBill = "http://localhost:49922/api/GuestTrip/PutStatus2";
    private string billId;
    private string responseCode;

    protected override async Task OnInitializedAsync()
    {
        billId = await js.InvokeAsync<string>("sessionStorage.getItem", "billId");

        try
        {
            var response = await httpClient.GetFromJsonAsync<guest_trip>($"{url}/{billId}");

            bill = response;
            guest_trip_child = response.guest_trip_child.ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Lỗi khi gọi API: {ex.Message}");
        }

        string currentUrl = Navigation.Uri;

        var uri = new Uri(currentUrl);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        responseCode = queryParams["vnp_ResponseCode"];

        if (responseCode == "00")
        {
            await UpdateStatusBill2();
        }
        await js.InvokeVoidAsync("sessionStorage.removeItem", "billId");
    }
    private async Task PrintTicketDetails()
    {
        await js.InvokeVoidAsync("printElement", "printableTicketDetails");
    }
    private async Task UpdateStatusBill2()
    {
        try
        {
            string currentUrl = Navigation.Uri;

            var uri = new Uri(currentUrl);
            var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

            string amount = queryParams["vnp_Amount"];
            string transactionStatus = queryParams["vnp_TransactionStatus"];
            string bankCode = queryParams["vnp_BankCode"];
            string cardType = queryParams["vnp_CardType"];
            string transactionNo = queryParams["vnp_TransactionNo"];

            bill_update.payment_method = false;
            bill_update.transaction_status = transactionStatus;
            bill_update.bank_code = bankCode;
            bill_update.card_type = cardType;
            bill_update.transaction_no = transactionNo;

            var response = await httpClient.PutAsJsonAsync($"{urlUpdateStatusBill}/{billId}", bill_update);
            // if (response.IsSuccessStatusCode)
            // {
            //     Console.WriteLine($"Cập nhật trạng thái hóa đơn {billId} thành công!");
            // }
            // else
            // {
            //     var errorMessage = await response.Content.ReadAsStringAsync();
            //     Console.WriteLine($"Cập nhật trạng thái thất bại: {errorMessage}");
            // }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Lỗi: {ex.Message}", Severity.Error);
        }
    }
    private Task OpenDialogDown(DialogOptions options)
    {
        return Dialog.ShowAsync<DialogPolicyDown>("Đón trả khách", options);
    }
    private Task OpenDialogPrice(DialogOptions options)
    {
        return Dialog.ShowAsync<DialogPolicyPrice>("Chính sách hủy vé", options);
    }
}
