@page "/checkouttrip"
@using System.Globalization
@inject HttpClient httpClient
@inject IJSRuntime js
@inject NavigationManager Navigation
@inject IDialogService Dialog


<MudContainer Class="mt-8 mb-5" MaxWidth="MaxWidth.Medium">
    <MudPaper Class="p-4" Elevation="0">
        @if (responseCode == "00")
        {
            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Primary">
                THANH TOÁN THÀNH CÔNG
            </MudText>
        }
        else
        {
            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Primary">
                QUÍ KHÁCH VUI LÒNG THANH TOÁN TRONG THỜI GIAN 15 PHÚT
            </MudText>
        }

    </MudPaper>
    <MudCard Class="mt-5" Elevation="0" Style="border: 1px solid #DDE2E8; border-radius: 1.5rem !important;">
        <MudCardHeader Class="py-2 d-flex justify-center align-center" Style="background-color: #F7F7F7;">
            <MudText Typo="Typo.h6" Style="font-weight: 600 !important;">THÔNG TIN MUA VÉ</MudText>
        </MudCardHeader>

        <MudCardContent Class="mb-6">
            <MudGrid>
                <MudItem xs="4" Class="pb-0">
                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Mã vé</MudText>
                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Tuyến xe</MudText>
                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Thời gian xuất bến</MudText>
                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Số ghế</MudText>
                </MudItem>

                <MudItem xs="8" Class="pb-0" Style="display: flex; flex-wrap: wrap; justify-content: flex-end;">
                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">@bill.guest_trip_code</MudText>
                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary" Style="word-wrap: break-word; max-width: 100%;">@bill.location_from (@bill.from) - @bill.location_to (@bill.to)</MudText>
                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">@bill.time_start</MudText>
                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">@guest_trip_child.Count()</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudGrid>
                        <MudItem xs="4">
                            <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Tổng giá vé:</MudText>
                            <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">PTTT:</MudText>
                            <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Trạng thái:</MudText>
                        </MudItem>
                        <MudItem xs="8">
                            <MudText Class="mb-2" Typo="Typo.subtitle1" Style="">@bill.price</MudText>
                            <MudText Class="mb-2" Typo="Typo.subtitle1" Style="">VNPay</MudText>
                            <MudText Class="mb-2 fw-bold" Typo="Typo.subtitle1" Color="Color.Success" Style="">Thành công</MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                @foreach (var seat in guest_trip_child)
                {
                    <MudItem xs="12" Class="d-flex justify-center align-center">

                        <MudPaper Class="p-3" Elevation="0" Style="border: 1px solid #DDE2E8; border-radius: 1rem !important; width: 400px;">
                            <MudGrid>
                                <!-- Mỗi MudItem chiếm toàn bộ chiều rộng (xs="12"), tạo chiều dọc -->
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Mã vé</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2 fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">@bill.guest_trip_code</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Tuyến xe</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2 fw-bold" Typo="Typo.subtitle1" Color="Color.Primary" Style="word-wrap: break-word; max-width: 100%;">@bill.location_from (@bill.from) - @bill.location_to (@bill.to)</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Thời gian xuất bến</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2  fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">@bill.time_start</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style="color: #637280;">Số ghế</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">@seat.seat_name</MudText>
                                </MudItem>
                                <MudItem xs="12" Class="pt-0 pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">
                                        Quý khách vui lòng có mặt tại bến xe
                                        <b style="color: #594AE2; font-weight: none;">@bill.location_from (@bill.from)</b>
                                        <b style="color: #F44336; font-weight: none;">Trước @bill.time_start</b>
                                        để kiểm tra thông tin trước khi lên xe.
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12" Class="pt-0 pb-0 ">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">
                                        Điểm trả khách
                                        <MudButton OnClick="@(() => OpenDialogDown(_policyDown))" Color="Color.Transparent" Style="min-width: 0; padding: 0;">
                                            <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Warning" Title="Info" />
                                        </MudButton>
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12" Class="pt-0 pb-0 pl-0 ml-6">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1">@bill.location_from (@bill.to)</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Biển số xe</MudText>
                                    <MudText Class="mb-2" Typo="Typo.subtitle1" Style=" color: #637280;">Mã tra cứu hóa đơn</MudText>
                                </MudItem>
                                <MudItem xs="6" Class="pb-0">
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">@bill.car_number</MudText>
                                    <MudText Class="mb-2 text-end fw-bold" Typo="Typo.subtitle1" Color="Color.Primary">@bill.guest_trip_code</MudText>
                                </MudItem>
                            </MudGrid>
                        </MudPaper>

                    </MudItem>
                }


            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudContainer>
<script type="module">
    window.printElement = (elementId) => {
        // Lưu lại nội dung ban đầu của trang
        const originalContents = document.body.innerHTML;

        // Lấy nội dung phần muốn in
        const printContents = document.getElementById(elementId).innerHTML;

        // Thay thế toàn bộ nội dung trang bằng nội dung in
        document.body.innerHTML = `
                <div class="print-container">
                    ${printContents}
                </div>
            `;

        // Thêm CSS tùy chỉnh để định dạng trang in
        const style = document.createElement('style');
        style.innerHTML = `
    @@media print {
                    body * {
                        visibility: hidden;
                    }
                    .print-container, .print-container * {
                        visibility: visible;
                    }
                    .print-container {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }
                }
            `;
        document.head.appendChild(style);

        // Gọi hàm in
        window.print();

        // Khôi phục lại nội dung ban đầu
        document.body.innerHTML = originalContents;

        // Loại bỏ style in
        style.remove();
    };
</script>
@code {
    private guest_trip bill = new guest_trip();
    private guest_trip_update bill_update = new guest_trip_update();
    private List<guest_trip_child> guest_trip_child = new List<guest_trip_child>();
    private readonly DialogOptions _policyDown = new() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true };
    private readonly DialogOptions _policyPrice = new() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true };
    private string url = "http://localhost:49922/api/GuestTrip";
    private string urlUpdateStatusBill = "http://localhost:49922/api/GuestTrip/PutStatus2";
    private string urlUpdateStatusBill6 = "http://localhost:49922/api/GuestTrip/PutStatus6";
    private string billId;
    private string responseCode;

    protected override async Task OnInitializedAsync()
    {
        billId = await js.InvokeAsync<string>("sessionStorage.getItem", "billId");

        try
        {
            var response = await httpClient.GetFromJsonAsync<guest_trip>($"{url}/{billId}");

            bill = response;
            guest_trip_child = response.guest_trip_child.ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Lỗi khi gọi API: {ex.Message}");
        }

        string currentUrl = Navigation.Uri;

        var uri = new Uri(currentUrl);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        responseCode = queryParams["vnp_ResponseCode"];

        if (responseCode == "00")
        {
            await UpdateStatusBill2();
        }
        else
        {
            await UpdateStatusBill6();

        }
        await js.InvokeVoidAsync("sessionStorage.removeItem", "billId");
    }
    private async Task PrintTicketDetails()
    {
        await js.InvokeVoidAsync("printElement", "printableTicketDetails");
    }
    private async Task UpdateStatusBill2()
    {
        try
        {
            string currentUrl = Navigation.Uri;

            var uri = new Uri(currentUrl);
            var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

            string amount = queryParams["vnp_Amount"];
            string transactionStatus = queryParams["vnp_TransactionStatus"];
            string bankCode = queryParams["vnp_BankCode"];
            string cardType = queryParams["vnp_CardType"];
            string transactionNo = queryParams["vnp_TransactionNo"];

            bill_update.payment_method = false;
            bill_update.transaction_status = transactionStatus;
            bill_update.bank_code = bankCode;
            bill_update.card_type = cardType;
            bill_update.transaction_no = transactionNo;

            var response = await httpClient.PutAsJsonAsync($"{urlUpdateStatusBill}/{billId}", bill_update);
            // if (response.IsSuccessStatusCode)
            // {
            //     Console.WriteLine($"Cập nhật trạng thái hóa đơn {billId} thành công!");
            // }
            // else
            // {
            //     var errorMessage = await response.Content.ReadAsStringAsync();
            //     Console.WriteLine($"Cập nhật trạng thái thất bại: {errorMessage}");
            // }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Lỗi: {ex.Message}", Severity.Error);
        }
    }
    private Task OpenDialogDown(DialogOptions options)
    {
        return Dialog.ShowAsync<DialogPolicyDown>("Đón trả khách", options);
    }
    private Task OpenDialogPrice(DialogOptions options)
    {
        return Dialog.ShowAsync<DialogPolicyPrice>("Chính sách hủy vé", options);
    }

    private async Task UpdateStatusBill6()
    {
        try
        {
        
            var response = await httpClient.PutAsJsonAsync($"{urlUpdateStatusBill6}/{billId}", bill);
            // if (response.IsSuccessStatusCode)
            // {
            //     Console.WriteLine($"Cập nhật trạng thái hóa đơn {billId} thành công!");
            // }
            // else
            // {
            //     var errorMessage = await response.Content.ReadAsStringAsync();
            //     Console.WriteLine($"Cập nhật trạng thái thất bại: {errorMessage}");
            // }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Lỗi: {ex.Message}", Severity.Error);
        }
    }

}
