@page "/ocrcar"
@using System.Net.Http.Json
@using IronOcr
@using Newtonsoft.Json
@inject HttpClient httpClient
@inject IJSRuntime js
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<style>
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85); /* Màu trắng với độ mờ 50% */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Đảm bảo overlay hiển thị trên các thành phần khác */
    }

</style>

@if (isLoading)
{
    <div class="loading-overlay">
        <MudItem xs="12" Class="text-center">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        </MudItem>
    </div>
}
<MudContainer Class="mt-14 pa-0" MaxWidth="MaxWidth.Small">
    <MudPaper Elevation="1">
        <MudGrid Class="pa-3">
            <MudItem xs="12">
                <MudPaper Elevation="0" Class="text-center">
                    <MudImage Src="@newCar.car_number" Elevation="0" Style="max-width:350px; height: 150px" Class="mb-3 mx-auto" id="capturedImage" />


                    <InputFile id="imageInput" OnChange="@LoadDriverImage" hidden accept=".jpg,.jpeg,.png" />
                    <MudButton HtmlTag="label" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Class="m-0 d-none d-md-flex mx-auto" Style="max-width:350px" for="imageInput">Chọn ảnh từ thư viện</MudButton>
                    <MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Class="ma-2 d-sm-none" OnClick="() => OpenFullScreenDialog()">Máy ảnh</MudButton>
                    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" Class="ma-2 d-sm-none" OnClick="() => ScanImage1()">Kiểm tra ảnh</MudButton>

                    @*             <MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Class="ma-3" OnClick="() => StartCamera()">Mở camera</MudButton> *@

                </MudPaper>
            </MudItem>

            <MudItem xs="12">
                <MudPaper Elevation="0">
                    <MudText Typo="Typo.h5" Class="fw-bold" Color="Color.Primary">THÔNG TIN XE</MudText>
                    <MudText Typo="Typo.subtitle1" Class="fw-bold">Biển số xe</MudText>
                    <MudTextField id="resultInput" Variant="Variant.Outlined" Disabled="true" Margin="Margin.Dense" @bind-Value="FoundCar.car_number" />
                    <MudGrid>
                        <MudItem xs="6" Class="pb-3">
                            <MudText Typo="Typo.subtitle1" Class="fw-bold">Tên xe:</MudText>
                            <MudText Typo="Typo.subtitle1" Class="fw-bold">Màu xe:</MudText>
                            <MudText Typo="Typo.subtitle1" Class="fw-bold">Loại xe:</MudText>
                            <MudText Typo="Typo.subtitle1" Class="fw-bold">Hãng xe:</MudText>
                            <MudText Typo="Typo.subtitle1" Class="fw-bold">Loại hộp số:</MudText>
                            <MudText Typo="Typo.subtitle1" Class="fw-bold">Hạn đăng kiểm:</MudText>
                            <MudText Typo="Typo.subtitle1" Class="fw-bold">Nhiên liệu:</MudText>
                        </MudItem>
                        <MudItem xs="6" Class="pb-2">

                            @if (SelectedCar != null)
                            {
                                <MudText Typo="Typo.subtitle1" Align="Align.End">@SelectedCar.car_name</MudText>
                                <MudText Typo="Typo.subtitle1" Align="Align.End">@SelectedCar.color</MudText>
                                <MudText Typo="Typo.subtitle1" Align="Align.End">@SelectedCar.type_name</MudText>
                                <MudText Typo="Typo.subtitle1" Align="Align.End">@SelectedCar.brand_name</MudText>
                                <MudText Typo="Typo.subtitle1" Align="Align.End">@(SelectedCar.isAuto == 0 ? "Số tự động" : "Số sàn")</MudText>
                                <MudText Typo="Typo.subtitle1" Align="Align.End">@SelectedCar.vehicle_registration_end.ToString("dd/MM/yyyy")</MudText>
                                <MudText Typo="Typo.subtitle1" Align="Align.End">
                                    @(SelectedCar.fuel == 1 ? "Xăng RON 92 (E5)" :
                                        (SelectedCar.fuel == 2 ? "RON 92-III" :
                                        (SelectedCar.fuel == 3 ? "RON 95-IV" :
                                        (SelectedCar.fuel == 4 ? "Diesel 0,05%S" :
                                        (SelectedCar.fuel == 5 ? "Diesel 0,001%S (Diesel Euro 5)" :
                                        (SelectedCar.fuel == 6 ? "Pin Lithium-ion(Li-ion)" :
                                        (SelectedCar.fuel == 7 ? "Pin Lithium Iron Phosphate" :
                                        (SelectedCar.fuel == 8 ? "Pin thể rắn(Solid-State Battery)" :
                                        (SelectedCar.fuel == 9 ? "Hybrid truyền thống(HEV)" : "Không xác định")))))))))
                                </MudText>

                            }
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>

            <MudItem xs="12">
                <MudPaper Elevation="0">
                    <MudText Typo="Typo.h5" Class="fw-bold mt-2" Color="Color.Primary">LỊCH TRÌNH XE</MudText>

                    @if (SelectedTripDetails != null && SelectedTripDetails.Any())
                    {
                        <MudTable Items="@SelectedTripDetails">
                            <HeaderContent>
                                <MudTh Class="fw-bold">Địa điểm</MudTh>
                                <MudTh>Bắt Đầu</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Địa điểm">
                                    <MudText Typo="Typo.subtitle2"> @context.from (@context.location_from)</MudText>
                                    <MudIcon Icon="@Icons.Material.Filled.ArrowForwardIos" Size="Size.Small" />
                                    <MudText Typo="Typo.subtitle2"> @context.to (@context.location_to)</MudText>

                                </MudTd>
                                <MudTd DataLabel="Bắt Đầu">@context.time_start.ToString("dd/MM/yyyy HH:mm")</MudTd>
                                @*                             <MudTd DataLabel="Kết Thúc">@context.time_end.ToString("dd/MM/yyyy HH:mm")</MudTd> *@
                            </RowTemplate>
                        </MudTable>
                    }
                    else
                    {
                        <MudText Typo="Typo.body2" Class="text-center my-4">Không có chi tiết chuyến đi</MudText>
                    }
                </MudPaper>
            </MudItem>

        </MudGrid>

    </MudPaper>
</MudContainer>

@code {
    private bool isLoading = false;
    private car newCar = new car();
    private car FoundCar = new car();
    private TripCarLocation SelectedCar;
    private List<TripDetailViewModel> SelectedTripDetails = new List<TripDetailViewModel>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Kiểm tra nếu ảnh tồn tại trong localStorage
            var imageData = await js.InvokeAsync<string>("localStorage.getItem", "imageInput");
            if (!string.IsNullOrEmpty(imageData))
            {
                await js.InvokeVoidAsync("displayCapturedImage");
                await ScanImage1();
            }
        }
    }


    private async Task SearchCar()
    {
        isLoading = true;
        if (!string.IsNullOrEmpty(FoundCar.car_number) && FoundCar.car_number.Length >= 5)
        {
            try
            {
                var response = await httpClient.GetAsync($"http://localhost:49922/api/Cars/CarNumber/{FoundCar.car_number}");
                if (response.IsSuccessStatusCode)
                {
                    var responseData = await response.Content.ReadAsStringAsync();
                    SelectedCar = JsonConvert.DeserializeObject<TripCarLocation>(responseData);

                    if (SelectedCar != null &&
                        SelectedCar.Trip_Detail_Customs != null &&
                        SelectedCar.guest_Cars_Customs != null &&
                        SelectedCar.guest_Cars_Customs != null)
                    {
                        SelectedTripDetails = SelectedCar.Trip_Detail_Customs
                            .Zip(SelectedCar.Trip_Detail_Customs, (detail, custom) => new TripDetailViewModel
                                {
                                    from = custom.from,
                                    to = custom.to,
                                    time_start = detail.time_start,
                                    time_end = detail.time_end,
                                    location_from = detail.location_from,
                                    location_to = detail.location_to
                                })
                            .ToList();

                        StateHasChanged();
                    }
                    else
                    {
                        Snackbar.Add("Xe chưa có lịch trình", Severity.Warning);

                        SelectedTripDetails.Clear();
                    }
                }
                else
                {
                    Snackbar.Add("Không tìm thấy thông tin xe", Severity.Warning);
                    SelectedTripDetails.Clear();
                    SelectedCar = null;
                }
            }
            catch (Exception ex)
            {
                await js.InvokeVoidAsync($"Lỗi: {ex.Message}");
                SelectedTripDetails.Clear();
                SelectedCar = null;
            }
        }
        else
        {
            await js.InvokeVoidAsync("Biển số xe không hợp lệ. Vui lòng kiểm tra lại.");
        }
        isLoading = false;
    }
    private async Task LoadDriverImage(InputFileChangeEventArgs e)
    {
        isLoading = true;
        try
        {
            var file = e.File;
            if (file != null)
            {
                var base64Data = await GetBase64Image(file);
                if (base64Data != null)
                {
                    var fileName = $"driver_images/{Guid.NewGuid()}{Path.GetExtension(file.Name)}";
                    var imageUrl = await js.InvokeAsync<string>("uploadImage", fileName, base64Data);
                    newCar.car_number = imageUrl;
                    ScanImage1();
                    StateHasChanged();
                }
            }
        }
        catch (Exception ex)
        {
            await js.InvokeVoidAsync($"Lỗi tải ảnh: {ex.Message}");
        }
    }

    private async Task<string> GetBase64Image(IBrowserFile file)
    {
        try
        {
            using var memoryStream = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(memoryStream);
            var bytes = memoryStream.ToArray();
            return Convert.ToBase64String(bytes);
        }
        catch (Exception ex)
        {
            await js.InvokeVoidAsync("alert", $"Lỗi chuyển đổi ảnh: {ex.Message}");
            return null;
        }
    }

    private async Task ScanImage1()
    {
        try
        {
            var ocrResult = await js.InvokeAsync<string>("readTextFromImage", "imageInput");

            if (!string.IsNullOrEmpty(ocrResult) && ocrResult != "Không nhận diện được")
            {
                FoundCar.car_number = ocrResult.Trim();
                await SearchCar();
            }
            else
            {
                FoundCar.car_number = string.Empty;
                Snackbar.Add("Không thể nhận diện biển số xe", Severity.Warning);
            }

            await js.InvokeVoidAsync("localStorage.removeItem", "imageInput");

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Lỗi: {ex.Message}");
        }
    }

    private async Task OpenCameraDialog()
    {
        await DialogService.ShowAsync<CustomDialog>();
        await StartCamera();
    }

    private async Task StartCamera()
    {
        await js.InvokeVoidAsync("startCamera");
    }

    private async Task SwitchCamera()
    {
        await js.InvokeVoidAsync("switchCamera");
    }

    private async Task CaptureImage()
    {
        var imageData = await js.InvokeAsync<string>("captureImage");
        Console.WriteLine("Image Data: " + imageData);
    }
    private async Task OpenFullScreenDialog()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions
            {
                FullScreen = true,
                CloseButton = true,
                MaxWidth = MaxWidth.Medium,
            };

        await DialogService.ShowAsync<CustomDialog>("Máy ảnh", parameters, options);
        await StartCamera();
    }
    private async Task DownloadImage()
    {
        await js.InvokeVoidAsync("downloadImage");
    }

    public class car_number_check
    {
        public string car_number { get; set; }
    }

}